{% extends "skeleton" %}

{% block body_content %}
<div class="case">
	<h1>Case</h1>
	<table class="header">
	<tr><th>Title</th><td>{{ title|e }}</td></tr>
	<tr><th>Status</th><td>{{ status|e }}</td></tr>
	</table>
	<form {{ {'action': '/case/amend/%s'|format(oid)}|xmlattr }} method="post">
	<input type="hidden" name="action" value="status" />
	<select name="status"><option>open</option><option>progress</option><option>resolved</option><option>closed</option></select>
	<input type="submit" value="Change status" />
	</form>

	<h3>History</h3>
	<div class="history">
	{% if history|length > 0 %}
	<table>
	<tr>
	<th>Date/Time</th>
	<th>Comment</th>
	</tr>
	{% for item in history %}
	<tr>
	<td><pre>{{ item.dt|datetime('%Y-%m-%d %H:%M') }}</pre></td>
	<td>{{ item.comment|e }}</td>
	</tr>
	{% endfor %}
	</table>
	{% else %}
	<p>No items.</p>
	{% endif %}
	</div>

	<h3>Add comment, file</h3>
	<form {{ {'action': '/case/amend/%s'|format(oid)}|xmlattr }} method="post" enctype="multipart/form-data">
	<div><p>Comment</p><p><textarea rows="4" cols="80" name="comment"></textarea></p></div>
	<div><p>File <input type="file" name="attachment" /></p></div>
	<div><input type="submit" value="Add comment" /></div>
	</form>

	<h3>Link other case</h3>
	<form {{ {'action': '/case/amend/%s'|format(oid)}|xmlattr }} method="post">
	<input type="hidden" name="action" value="link" />
	<div><p>Case id <input type="text" name="linked_case" /></p></div>
	<div><p>Comment <input type="text" name="comment" /></p></div>
	<div><input type="submit" value="Link case" /></div>
	</form>
</div>
{%- endblock %}
