{% extends "skeleton" %}

{% block body_content %}
<div>
<h1>Residence management system</h1>
<p>Developed to make the management easier. Use top menu to navigate.</p>
{% if eventlog_size|default(0) %}
<h2>Event log</h2>
<div>(last {{ eventlog_size }} actions shown)</div>
<div>
{% for eventlog_item in eventlog_items %}
<div>{{ eventlog_item }}</div>
{% endfor %}
</div>
{% endif %}
</div>
{%- endblock %}

