{% extends "skeleton" %}

{% macro render_form() %}
{%- endmacro %}

{% macro render_results(items) %}
<div class="parking_event_search_results">
<h3>Visitor Parking Usage</h3>
<table>
<tr>
<th>VIN</th>
<th>Counter (days)</th>
</tr>
{% for vin in visitor_aggregate_map %}
<tr>
<td><a {{ {'href': '/vehicle/view/%s'|format(vin)}|xmlattr }}>{{ vin|e }}</a></td>
<td>{{ visitor_aggregate_map[vin]|length }}</td>
</tr>
{% endfor %}
</table>
</div>
{%- endmacro %}

{% macro render_results_nothing() %}
<h3>Search results</h3>
<p>Sorry, nothing found.</p>
{%- endmacro %}

{% block body_content %}
<h1>Parking Event search</h1>
{%if visitor_aggregate_map is defined %}
<div>
{% if visitor_aggregate_map|length > 0 %}
{{ render_results(results) }}
{% else %}
{{ render_results_nothing() }}
{% endif %}
</div>
{% endif %}
<div>
{{ render_form() }}
</div>
{%- endblock %}
